body {
  background-color: #CC99FF;
}
.toggle{
  background-color: #9966CC;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fa-heart {
  font-size: 60px;
  color: #F3D9F4;
  position: absolute;
  top: 24px;
  left: 18px;
}
.menu{
  background-color:#F3D9F4;
  height: 100px;
  width:100px;
  transform: scale(0);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 2s;
}
a{
  position: absolute;
  font-size: 15px;
  color: #9966CC;
}
a:nth-child(1){
  top: 8px;
  left: 42px;
}
a:nth-child(2){
  top: 20px;
  left: 70px;
}
a:nth-child(3){
  top: 20px;
  left: 15px;
}
a:nth-child(4){
  top: 45px;
  left: 10px;
}
a:nth-child(5){
  top: 45px;
  left: 75px;
}
a:nth-child(6){
  top: 70px;
  left: 17px;
}
a:nth-child(7){
  top: 70px;
  left: 70px;
}
a:nth-child(8){
  top: 80px;
  left: 45px;
}
a:hover{
  color: #ff7ce9;
}
