h1{
  font-family: calibri;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #9966CC;
  line
}
h2{
  font-family: calibri;
  font-size:20px;
  font-weight:300px;
  color:#F3D9F4;
}

h3{
  font-size: 50px;
}
