.rect {
  height: 500px;
  width: 250px;
  border-radius: 30px;
  background: #85B6FF;
  color: #FFFFFF;
  text-align: center;
  font-size: 7px;
}

.image1 {
  width: 200px;
  border-radius: 50px;
  position: relative;
  top: 5px;
}

.image2 {
  width: 200px;
  border-radius: 50px;
  position: relative;
  top: 5px;
}

button {
  background-color: #00BFFF;
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
}

.yesColor {
  background-color: #7FFFD4;
}

.noColor {
  background-color: #F08080;
}
